<!-- Button trigger modal -->
<button type="button" class="btn p-0 m-0 bg-transparent border-O shadow-none" data-toggle="modal" data-target="#exampleModalCenter">
  <i class="far fa-edit" style="color: #F4AA5B; cursor: pointer;"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un avis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for [@stock, @review] do |f| %>
            <%= f.input :comment, label: "Commentaire", error: "Veuillez renseigner ce champ" %>
            <%= f.input :rating, label: "Note", error: "La note doit être comprise entre 0 et 5" %>
            <%= f.submit 'Créer mon avis', class: 'btn btn-success m-4' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
