<!-- navbar -->
<%= render 'shared/navbar' %>




<!-- map -->
<div id="map-iti" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<!-- card-product -->
<%#= render 'product_show' %>
