<nav class="navbar navbar-expand-sm bg-transparent justify-content-between">

  <%= image_tag "lily_35.png" %>

  <div class="p-1 bg-white rounded rounded-pill">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn shadow-none"><i class="fa fa-search"></i></button>
      </div>
      <input type="search" placeholder="Quel produit rechercher ?" class="form-control border-0 shadow-none ">
      <div class="input-group-append">
        <button id="button-??" type="submit" class="btn btn-link text-primary py-0"><%= image_tag "lily_35.png", class:"p-0"%></button>
      </div>
    </div>
  </div>

  <div class="dropdown dropleft">
    <button class="btn btn-primary" type="button" data-toggle="dropdown"><i class="fas fa-bars fa-1x"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Favoris</button>
      <button class="dropdown-item" type="button">Another action</button>
      <button class="dropdown-item" type="button">Something else here</button>
    </div>
  </div>

</nav>

