<!-- nav-bar -->
<%= render 'shared/navbar' %>

<!-- map -->
<div class="" id="map-iti-opti" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- btn back -->
<%= link_to baskets_path do%>
  <div class="btn rounded rounded-pill btn-circle bg-warning p-2"><i class="fas fa-chevron-right" style="color: white"></i></div>
<% end %>

