

<!-- Container Search -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">

      <!-- Search form -->
      <div class="p-1 bg-white rounded rounded-pill">
        <div class="input-group">
          <input type="search" placeholder="" class="form-control border-0 shadow-none bg-transparent">
          <div class="input-group-append">
            <button class="btn shadow-none"><i class="fa fa-search" style="color: #F4AA5B;"></i></button>
          </div>
        </div>
      </div>
      <!-- Fin search form -->

    </div>
  </div>
</div>


