.btn-circle {
  width: 10%;
  position: absolute;
  z-index: 10;
  top: 8%;
  left: 2%;
  &:hover {
    cursor: pointer;
  }
  i {
    transform: rotate(180deg);
  }
}

.btn:focus {
  outline: none;
}

.text-white {
  color: white;
}

.text-yellow {
  color: rgb(247, 198, 22);
}

.btn-circle-norm {
  width: 10%;
  position: absolute;
  z-index: 10;
  top: 110px;
  left: 2%;
  &:hover {
    cursor: pointer;
  }
}
