.event-container {


}

.event-card {

}

.img-card {
    width: 160%;
    height: auto;
    margin-left: -28%;
    margin-top: 0%;
}

.img-container {
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  background-color: black;
  overflow: hidden;
  margin-left: 56%;
  margin-top: 1%;

}

.card-description {
    background-color: #fcf7f2;
    margin-top: -31%;
    margin-left: 7%;
    width: 50%;
    height: 0;
    padding-bottom: 29%;
    position: absolute;


    h3 {
      font-size: 15px;
      margin-left: 4%;
      margin-top: 2%;
    }

    p {
      font-size: 10px;
      margin-left: 4%;
      margin-top: -4%;

    }
}

.card-date {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #f4aa5beb;
    width: 12%;
    height: 0;
    padding-bottom: 12%;
    margin-top: -23%;
    margin-left: 51%;
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    p {
      line-height: 0em;
    }

    h2 {
      font-size: 15px;
      margin-top: -17%;
    }

    .date-info {
      margin-top: 20%;
      margin-left: 4%;
}

 }


.icon-event {
  position: relative;
    margin-left: 47%;
    margin-top: 43%;
    font-size: 2em;
    color: #82df86;




  .notification {
    background-color: red;
    border-radius: 50;
    width: 10%;
    height: auto;
    position: absolute;
    color: white;
  }

}


// TEST

.card-test {
        height: 58vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 12%;
    background-color: white;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 8px -2px #a9a4a4;
}

.card-cat {
    background: linear-gradient(146deg, #f4aa5b 0%, #b6e9a4 100%);
    padding: 10px 20px;
    width: 71%;
    font-size: 13px;
    position: absolute;
    top: 45%;
    left: 15%;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 3px 12px -1px #bab0b0;
    text-align: center;

    h3 {
      font-size: 15px;
      font-weight: bold;
    }
}

.opacity-destroy {

  opacity: 0;

}

.image-event-test {

    height: 107%;
    border-radius: 0 0 41% 50%;
    width: 100%;
}
.image-event-test:hover {
      opacity: 0.5;

    }


.img-card-test {

  object-fit: fill;

}

.main-info-test {
   height: 78%;
    /* padding: 4% 8%; */
    box-shadow: 0 5px 2px -5px #333;
    width: 77%;
    padding-bottom: 0%;
    text-align: center;

   h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 22px;
}
  p {
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}

}

.card-info-test {

        top: 78%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 92%;
    /* margin-top: 41%; */
    padding-top: 9%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.card-info-test:hover {
    opacity: 0.5;
  }

.date-info-test {
  p {
    font-size: 15px;
  }
}

.card-event-container {
    overflow: scroll;
    height: 82vh;
    -webkit-transition: .2s all;
    transition: .2s all;
    position: absolute;
    width: 78%;
    top: 11%;
    left: 11%;



}

.red-title {

  color: red;
}

.green-title {
  color: green;
}

.home-page {
  position: relative;
}
.footer-event {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;

}

.event-btn {
  position: absolute;
  left: 50%;
  top: 91%;
  color: #a8d383;

  i {
    position: absolute;
    top: 22px;
    left: -18px;
    font-size: 35px;
    z-index: 2;
  }

  p {
    position: absolute;
    top: 16px;
    left: -1px;
    font-size: 23px;
    color: white;
    background-color: #e45f5f;
    transition: opacity 0.3s;
    padding: 4px 10px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    z-index: 5;


  }
}

.today {
  width: 100%;
  position: relative;

  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #e48d1a;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;

  }
}

.display-card {
  opacity: .25;
  height: 0;
  bottom: 0;
}

#lily {
  transition: opacity 0.1s;
}




.navbar {
  position: relative;
}

.lily-logo {
    position: absolute;
    width: 67%;
    height: 10%;
    top: 14px;
    left: 17px;
    opacity: 0;
    transition: opacity 0.4s;

  .mini-logo_lily {
    width: 26px;
    background-image: url(https://res.cloudinary.com/dhzydlb81/image/upload/v1582822675/lily_70_heihtf.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 53px;
  }
}


#mini-title {
  position: absolute;
  font-size: 22px;
  top: 8px;
  left: 43px;

}




#search-bar-container {
  position: relative;
}

.search-bar {
  transition: opacity 0.4s;

}


.search-new-place {
  opacity: 0;
  transition: opacity 0.4s;
  margin-right: 9%;
  margin-top: 1%;
  width: 69%;
}

.lily-go {
  opacity: 1;
}

.border-foufou {
      position: absolute;
    box-shadow: -5px 1px 0px 4px #7fc468;
    top: 19px;
    left: 10px;
    width: 36%;
    z-index: 1;
    opacity: 0.5;
}

.border-foufou2 {
  position: absolute;
    box-shadow: -5px 1px 0px 4px #7fc468;
    top: 19px;
    left: 10px;
    width: 62%;
    z-index: 1;
    opacity: 0.5;
}

.date-event {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 10%;

  p {
    margin: 0;
    font-weight: bold;

  }
}

.text-orange {
  color: #F4AA5B;
  font-weight: bold;
}
.img-event-modal {
  width: 100%;
}
.font-modal {
  background: linear-gradient(187deg, rgba(176,231,157,1) 0%, rgba(246,255,238,1) 100%);
}
.modal-content-rounded {
  border-radius: 10px;
}
