// .img-size {
// width: 150px;
// height: 150px;
// background-size: cover;
// margin-left: auto;
// margin-right: auto;
// width: 6em
// }

// div.img-size > i > img {
//   max-width: 100%;
//   max-height: 100%;
// }

.img-size {
  max-height: 120;
  max-width: 150;
}

div.img-size > i > img {
  max-width: 150px;
  max-height: 120px;
  border-radius: 6px;
}


.img-size-large {
  max-height: 110;
  max-width: 160;
}

div.img-size-large > img {
  max-width: 160px;
  max-height: 110px;
  border-radius: 6px;
}

.lily {
  width: 100%;
  min-height: 150px;
  background-image: url(https://res.cloudinary.com/dhzydlb81/image/upload/v1582822675/lily_70_heihtf.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.lilyb {
  width: 100%;
  min-height: 150px;
  background-image: url(https://res.cloudinary.com/dhzydlb81/image/upload/v1582822675/lily_70_bis_reppr0.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.show-image-size {
  size: 15%;
}
