.font-color-grey {
  color: #70757A;
  h2 {
    color: black;
  }
}

.time {

}

.product-image {
  width: 50%;
}


#card_show {
  height: calc(100% - 368px);

}

.product-description {
  p {
    margin-bottom: 0;
  }
}

.pric {
  h2 {
    font-size: 20px;
  }
}
