.font-color-grey {
  color: #70757A;
  h4 {
    color: black;
  }
}

.product-image {
  width: 50%;
}


#card_show {
  height: calc(100% - 368px);
  p {
    font-size: 13px;
  }
  h5 {
    color: black;
  }
}

.product-description {
  p {
    margin-bottom: 0;
  }
}

.pric {
  h4 {
    font-size: 20px;
  }
}

#comments {
  width: 95%;
  height: 40px;
}

#comments > div {
  p {
    font-size: 13px;
  }
}
