<div class="home-page d-flex wh-100">

   <!-- nav-bar -->
    <%= render 'shared/navbar' %>
  <div class="container d-flex wh-100">


    <div class="row justify-content-center align-self-center">
      <div id="barcard">
        <div id="screen">
          <h3 class="m-5">Scannez votre produit !</h3>
          <div id='barcode-scanner'></div>
        </div>
      </div>
    </div>

  </div>


</div>
